 body {
    background-color: #EAF6F6;
}

hr {
    border: 5px  royalblue;
    border-style: none none dotted; 
    background-color:#EAF6F6;
}

h2 {
    color: #66BFBF;


}
h1 {
    color: #66BFBF;


}
h3 {
    color: royalblue;


}

li {
    color: royalblue;
}

tr:hover {
    
    background-color: 		#DCDCDC;

}

.skills:hover {

    background-color: #EAF6F6;
   
}

.bio:hover {

    background-color: #EAF6F6;
   
}

p {
    color: royalblue;
}

.tablerow {
    color: royalblue;
}

.tablerow:hover {
    background-color: #EAF6F6;
}


thead {
    color:  royalblue;
}

th {
    color: #66BFBF
}


.theadth:hover {
    background-color: #EAF6F6;
}


h4 {
   
    color: #66BFBF
}
